.files1{
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 5px 2.5px rgba(58, 58, 58, 0.75);
}
.wetgettitle{
    font-size: 30px;
    font-weight: 600;
}
.wetgetimg{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}
.wetgetlist{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wetgetitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.wetgetuser{
    display: flex;
    flex-direction: column;
}
.wetgedusername{
    font-weight: 600;
}
.wetgetusertitle{
    font-weight: 300;
}
.wetgetButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;

}
.wetgetIcons{
    font-size: 16px !important;
    margin: 5px;
}