.Chart{
margin: 20px;
padding: 20px;
-webkit-box-shadow: 0px 3px 5px 2.5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 2.5px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 2.5px rgba(0,0,0,0.75);
}
.chartTittle{
    margin-bottom: 20px;
}