.files2{
    flex: 2;
    padding: 20px;
    box-shadow: 0px 3px 5px 2.5px rgba(66, 66, 66, 0.75);
}
.wegdetlgTitle{
    font-size: 22px;
    font-weight: 600;
}

.wegdetlgtable{
    width: 100%;
    border-spacing: 20px;
}

.wegdetlgth{
    text-align: left;
}
.wegdetlgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.wegdetlgimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.wegdetlgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;

}
.wegdetlgButton.Approved{
    background-color: #e5faf2;
    color: rgb(4, 173, 4);

}
.wegdetlgdate, .wegdetlgamount{
    font-weight: 300;
}

.wegdetlgButton.Declined{
    background-color: #fff0f1;
    color: rgb(187, 5, 5);
    
}
.wegdetlgButton.Pending{
    background-color: #ebf1eb;
    color: rgb(7, 7, 175);
    
}
